/* Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

aside{
    width: 17%;
    background-color: aquamarine;
}

.margin{
    width: 90%;
    margin: auto;
}

aside li{
    list-style: none;
}

/* #region main */

#site_main{
    background-color: darkgrey;
}

.main_container{
    width: 83%;
    background-color: azure;
    height: calc(100vh - 100px);
}

/* aside */

.sidebar{
    flex-direction: column;
    height: calc(100vh - 100px);
}

.logo{
    margin-top: 20px;
    height: 4rem;
    background-color: violet;
}

.shortcut{
    height: 4rem;
    background-color: violet;
    margin: 20px 0;
}

.playlist > h4{
    background-color: violet;
    height: 2rem;
}

.create{
    margin: 15px 0;
    background-color: violet;
    height: 2rem;
}

.my_playlist{
    height: 15rem;
    background-color: violet;
}

.bottom{
    
    margin-top: auto;
}

.install{
    margin-top: 20px;
    height: 1.5rem;
    background-color: violet;
}

.user{   
    height: 2rem;
    background-color: violet;
    margin: 20px 0;
}

/* #endregion main */



/* #region footer */

#site_footer{
    height: 100px;
    background-color: cornflowerblue;
}