/* Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

aside{
    width: 17%;
    background-color: aquamarine;
}

.margin{
    width: 90%;
    margin: auto;
}

/* #region main */

#site_main{
    height: calc(100vh - 100px);
    background-color: darkgrey;
}

.main_container{
    width: 83%;
    background-color: azure;
}

/* aside */

.logo{
    margin-top: 20px;
    height: 4rem;
    background-color: violet;
}

.shortcut{
    list-style: none;
    height: 4rem;
    background-color: violet;
    margin: 20px 0;
}


/* #endregion main */

/* #region footer */

#site_footer{
    height: 100px;
    background-color: cornflowerblue;
}